# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp

# Dependências e build
node_modules/
dist/
.cache/

# Ambiente
.env
.env.local

# Backend
node_modules/
.env
.env.*
!.env.example
npm-debug.log*
